/* // Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {
    .imgBack{
        height: 700px;

    }
    .name {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        width: 551px;
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .message {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        width: 551px;
        height: 206px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .sendButton {
        background: #2F366B;
        background: rgba(47, 54, 107, 1);
        width: 123px;
        height: 32px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }
}