body {
    background-color: #15283610;
    font-family: 'Open Sans', sans-serif;

}


/* Small devices (portriet phones, 576px and up) */
@media (min-width: 320px) {
    .main-text {
     
        padding-top: 29%;
        padding-bottom: 11%;
    }
    .imgBack {
        background: url("../../../../img/contactUs/back-01.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        z-index: 100;
        height: 500px;
    }

    .tint {
        position: relative;
        float: center;
    }

    .tint:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
         background: linear-gradient(-60deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        opacity: 0.4;
        -moz-transition: background .3s linear;
        -webkit-transition: background .3s linear;
        -o-transition: background .3s linear;
        transition: background .3s linear;
    }

    .tint:hover:before {
        background-color: white;
        opacity: 0.5;
    }


    .name {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .message {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        height: 206px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .sendButton {
        background: #2F366B;
        background: rgba(47, 54, 107, 1);
        height: 32px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }
}