
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  
    .rightArrowBackground {
        right: -1%;
        height: 572.828px;
        top: -8.45em;
    }

    .leftArrowBackground {
        height: 572.828px;
        top: -8.45em;
        left: -2%;

    }
   
    .logo {
        left: 17%;
    }

 
}