/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .bestprojectbackground {
        height: 839px;
    }

   
    
    .DeveloperLogo {
        text-align: center;
        z-index: 11;
        width: 29px !important;
        height: 29px !important;
        position: absolute;
        left: 46%;
        right: 50%;
        top: 59%;
        margin-top: -36px;
    }
.bigLogo {
    left: 48%;
}
    .LeftthumbnialsSize {
        width: 100%;
        height: 240px;
        overflow: hidden;
        position: relative;
    }

    .LeftthumbnialsSize img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .LeftthumbnialsSize::before {
        content: "";
        clear: both;
        display: table;
        background: linear-gradient(90deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

.imgBack{
    height: 413px;
}
    .firstrightTopthumbnialsSize::before {
        content: "";
        clear: both;
        display: table;
        background: linear-gradient(90deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        opacity: 0.5;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A6C3', endColorstr='#33346E', GradientType=1);
    }


    .firstrightTopthumbnialsSize {
        width: 100%;
        height: 240px;
        position: relative;
    }

    .firstrightTopthumbnialsSize img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .secondrightTopthumbnialsSize::before {
        content: "";
        clear: both;
        display: table;
        background: linear-gradient(90deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        opacity: 0.5;
        position: absolute;
        z-index: 10;
        right: 0%;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }


    .secondrightTopthumbnialsSize {
        z-index: 5;
        width: 100%;
        height: 240px;
        position: relative;
    }

    .secondrightTopthumbnialsSize img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .rightBottomthumbnialsSize {
        width: 100%;
        height: 240px;
        position: relative;
    }

    .rightBottomthumbnialsSize img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .rightBottomthumbnialsSize::before {
        content: "";
        clear: both;
        display: table;
        background: linear-gradient(90deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        opacity: 0.4;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A6C3', endColorstr='#33346E', GradientType=1);
    }


    .ourProjectsCard {
        width: 80%;
        height: 80%;
        margin-left: 15%;
        padding-bottom: 15px;
    }

    .textUnderImage {
        font-family: 'Cairo', sans-serif;
        align-content: center;
    }

    .projectLogo {
        height: 28px !important;
        width: 28px !important;
    }
    .ourProjectsBackground {
        position: relative;
        height: 358.828px;
    }
 
   
    .bestProjectImage img {
        max-width: 100%;
        height: 358.828px;
    }
    .rightArrowBackground {
        background: linear-gradient(90.02deg, rgba(51, 52, 110, 0) 0%, rgba(3, 125, 169, 0.7) 37.99%, rgba(3, 127, 170, 0.86) 71.35%, rgba(2, 134, 174, 0.92) 83.36%, rgba(2, 145, 182, 0.96) 91.9%, rgba(0, 162, 193, 0.99) 98.78%, rgba(0, 166, 195, 1) 100%);
        position: absolute;
        z-index: 1;
        height:358.828px;
        width: 350px;
        top: -3.5em;
        right: -2%;

    }

    .leftArrowBackground {
        background: linear-gradient(90.02deg, rgba(51, 52, 110, 1) 0%, rgba(3, 125, 169, 0.6) 54.75%, rgba(3, 127, 170, 0.28) 79.09%, rgba(2, 134, 174, 0.16) 87.86%, rgba(2, 145, 182, 0.08) 94.09%, rgba(0, 162, 193, 0.01) 99.11%, rgba(0, 166, 195, 0) 100%);
        position: absolute;
        z-index: 1;
        height: 358.828px;
        width: 350px;
        top: -3.5em;
        left: -2%;

    }


    .emailbtn {
       
        right: 15%;
        width: 175px;
        height: 57px;
     
    }

 

    .searchBtn {
        width: 100%;
        height: 100%;
    }

 


    .mobileDisabled {
        display: none;
    }

  
    .topNavLink {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 26px;
        color: #0081AD;
        color: rgb(0, 129, 173);
        padding-bottom: 30px;

    }

    .topNavLinkActive {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #33346E;
        color: rgb(51, 52, 110);
        padding-bottom: 30px;
    }

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #33346E;
        ;
    }


  
 
    .email {
        width: 60%;
        height: 57px;
    }



    .mobileSerach{
        width: 460px;
      
        transform: translateY(20px)   ;

    }

    .mobileSerach:hover{
        width: 650px;
        transform: translateY(-30px)    ;


    }
  
    .searchIcon{
        font-size: 18px;
        letter-spacing: 3.8px;
    }
 

    .searchmobile {
        width: 620px !important;
        border: 0px;
    }

    .searchmobile:placeholder-shown {
        font-size: 18px;
        letter-spacing: 1.5px;
        color: rgb(51, 52, 110);
        opacity: 0.8;
    }
    .mobileSearchDropdown{
            font-size: 1em;
    }

.dropdown-menu .dropdown-item{
    font-size: 1em;
    color: #33346E !important;
}
.searchBtnMobile{
    width: 620px !important;

}
  
}