/* // Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {
    
    .card-columns {
        column-count: 3;
    }

    .image-size {
        width: 100% !important;
        height: 180px !important;
    }
    .name {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        width: 551px;
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .message {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        width: 551px;
        height: 206px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }
    .cardNewProjects {
        width: 85%;
    }
    .sendButton {
        background: #2F366B;
        background: rgba(47, 54, 107, 1);
        width: 123px;
        height: 32px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }
    .featueres-background-Image {
        width: 189px;
        height: 74%;
        z-index: 12;
        align-content: right;
        position: absolute;
        right: 0%;
        top: 22%;
    }
    .flip-card {
      
        position: relative;
        left: 0%;
    
      }
}