body {
    background-color: #15283610;

}


/* Small devices (portriet phones, 576px and up) */
@media (min-width: 320px) {
    .cardtitle{
        padding-right: 6px;
        padding-left: 60px;
        margin-right: 0px;
    }
    .card-body {
        margin-top: 14px;
        margin-right: -4px;
        padding: 0px !important;
    }
    .featueres-background-Image {
        width: 133px;
        height: 50%;
        z-index: 12;
        align-content: right;
        position: absolute;
        left: 0%;
        top: 20%;
        transform: rotate(180deg);
    }
    .image-size {
        width: 100% !important;
        height: 180px !important;
    }
    .ourProjectsBackground .card {
         background: white;
        border: 0px;
        width: 80%;

    }
    .share-button {
        background-color: rgba(65, 64, 66, 0.7);
        width: 30px;
        height: 25px;
        position: absolute;
        left: 0%;
        z-index: 11;
        top: -1px;
    }
    .project-status {
        background-color: rgba(65, 64, 66, 0.7);
        width: 50px;
        height: 25px;
        right: 0%;
        position: absolute;
        z-index: 10;
        top: -1px;
    }
    .ourProjectsBackground .card .card-header {
        margin-right: -4px;
        margin-left: -4px;
    }
    .imgBackground {
        background-image: url("../../../../img/aboutUs/background-01.png");
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        z-index: 100;
        height: 470px;
    }

    .tint {
        position: relative;
        float: center;
        cursor: pointer;
    }

    .tint:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: -moz-linear-gradient(-98.35% 105.72% 150deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        background: -webkit-linear-gradient(-150deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        background: -webkit-gradient(linear, 98.35% 105.72%, 1.65% -5.72%, color-stop(0, rgba(0, 166, 195, 1)), color-stop(0.5, rgba(0, 129, 173, 1)), color-stop(1, rgba(51, 52, 110, 1)));
        background: -o-linear-gradient(-150deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        background: -ms-linear-gradient(-150deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A6C3', endColorstr='#33346E' ,GradientType=0)";
        background: linear-gradient(60deg, rgba(0, 166, 195, 1) 0%, rgba(0, 129, 173, 1) 50%, rgba(51, 52, 110, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A6C3', endColorstr='#33346E', GradientType=1);
        opacity: 0.4;
        -moz-transition: background .3s linear;
        -webkit-transition: background .3s linear;
        -o-transition: background .3s linear;
        transition: background .3s linear;
    }

    .tint:hover:before {
        background-color: white;
        opacity: 0.5;
    }


    .name {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .message {
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        height: 206px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .sendButton {
        background: #2F366B;
        background: rgba(47, 54, 107, 1);
        height: 32px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
    }

    .bg-dark {
        background-color: rgba(1, 1, 1, 0.5) !important;
    }

    .title {
        font-size: 3em;
        color: #0081AD;
        color: rgb(0, 129, 173);
        padding-top:  3.750em;
    }

    .missionImage {
        width: 120px;
        min-height: 560px;
        max-height: auto;
        float: right;
    }

    .missionImage img {
        max-width: 100%;
        height: 560px;
    }
    .item{
        opacity:0.4;
        transition:.4s ease all;
        margin:0 20px;
        transform:scale(.8);
      }
    
      .active .item{
        opacity:1;
        transform:scale(1);
      } 
   
}